In [1]:
# Use quotation marks for defining string
"Michael Jackson"

'Michael Jackson'

In [2]:
# Use single quotation marks for defining string
'Michael Jackson'

'Michael Jackson'

In [3]:
# Digitals and spaces in string
'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
# Special characters in string
'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [5]:
# Print the string
print("hello!")

hello!

In [6]:
# Assign string to variable
name = "Michael Jackson"
name

'Michael Jackson'

In [7]:
# Print the first element in the string
print(name[0])

M

In [8]:
# Print the element on index 6 in the string
print(name[6])

l

In [9]:
# Print the element on the 13th index in the string
print(name[13])

o

In [10]:
# Print the last element in the string
print(name[-1])

n

In [11]:
# Print the first element in the string
print(name[-15])

M

In [12]:
# Find the length of string
len("Michael Jackson")

15

In [13]:
# Take the slice on variable name with only index 0 to index 3
name[0:4]

'Mich'

In [15]:
# Get every second element. The elments on index 1, 3, 5 ...
name[::2]

'McalJcsn'

In [16]:
# Get every second element in the range from index 0 to index 4
name[0:5:2]

'Mca'

In [17]:
# Concatenate two strings
statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [18]:
# Print the string for 3 times
3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [19]:
# Concatenate strings
name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [20]:
# New line escape sequence
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [21]:
# Tab escape sequence
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [22]:
# Include back slash in string
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [23]:
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [24]:
# Convert all the characters in string to upper case
a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [25]:
# Replace the old substring with the new target substring is the se
gment has been found in the string
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

SyntaxError: invalid syntax (2550512143.py, line 2)

In [26]:
# Find the substring in the string. Only the index of the first elment of substring in st
ring will be the output
name = "Michael Jackson"
name.find('el')

SyntaxError: invalid syntax (1333109597.py, line 2)

In [27]:
# Find the substring in the string.
name.find('Jack')

8

In [28]:
# If cannot find the substring in the string
name.find('Jasdfasdasdf')

-1